
  /* HeaderComponent.css */
.page-links.open {
    display: flex;
  }
  
  .page-links a::after {
    display: none;
  }
  
  .dropdown-divider {
    height: 1px;
    margin: 0.5rem 0;
    overflow: hidden;
    background-color: #e0e0e0;
  }
  
  .dropdown-content a.smaller-font {
    font-size: 0.65rem;
    color: #333;
  }
  
  .dropdown-content:hover a.smaller-font:hover {
    color: #0057ff;
  }
  